@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1d2b4f;
}

button {
  cursor: pointer;
}

/* ----------- Navbar start ----------- */
nav {
  padding: 2% 6% 0 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  height: 30px;
}

nav .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .list-item {
  list-style: none;
  margin-right: 60px;
  font-weight: 300;
  cursor: pointer;
}

nav .list-item:last-child {
  margin-right: 0;
}

.list-item.active {
  font-weight: 700;
}

.register-btn {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 5px;
  color: #3faaf4;
  border: 1px solid #3faaf4;
  font-weight: 700;
}

.menu-icon {
  display: none;
  height: 32px;
  cursor: pointer;
}

/* ----------- Navbar end ----------- */

/* ----------- Main Section start ----------- */

main {
  padding: 0 6%;
}

.content1,
.content2,
.content3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0;
}

.content-text {
  width: 40%;
}

.content-text h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.5;
}

.content-text p {
  font-size: 14px;
  padding: 20px 0;
  font-weight: 500;
  color: #a4a9b8;
  line-height: 1.5;
}

.content-text button {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  padding: 15px 25px;
  background: linear-gradient(to right bottom, #08baf7, #0680ef);
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  border: none;
  font-weight: 700;
}

.content-image {
  height: 440px;
  width: 40%;
}
.content-image img {
  height: 100%;
  width: 100%;
}

.service-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.service-header h1 {
  font-size: 40px;
  width: 40%;
}

.service-header p {
  width: 40%;
  font-size: 16px;
  font-weight: 500;
  color: #a4a9b8;
  line-height: 1.5;
}

.services-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 50px;
}

.service-card {
  padding: 30px;
}

.service-card img {
  height: 40px;
}
.service-card h1 {
  margin-top: 10px;
  font-size: 22px;
}
.service-card p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #a4a9b8;
  line-height: 1.5;
}

/* ----------- Main section end ----------- */

/* ----------- Pricing section start ----------- */

.pricing-section {
  background: linear-gradient(to right bottom, #10c3ff, #0680ef);
  height: 800px;
  padding: 2% 6%;
}

.pricing-section h1 {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0;
}

.pricing-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.pricing-card {
  background-color: #ffffff;
  border-radius: 10px;
  height: 600px;
  width: 25%;
}

.pricing-card-header {
  margin: 40px 20px 0 20px;
}

.pricing-card-header p {
  color: #a4a9b8;
  font-weight: 500;
  font-size: 14px;
  margin: 20px 0 40px 0;
}

.pricing-card-body {
  margin: 0 30px;
}

.pricing-card-body p {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  padding: 15px 0;
}

.pricing-card-body p img {
  height: 16px;
  margin-right: 10px;
}

.pricing-card-footer {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 40px;
}

.pricing-card-footer h2 span {
  color: #a4a9b8;
}

.pricing-card-footer p {
  color: #a4a9b8;
  font-size: 14px;
  margin: 15px 0;
}

.pricing-card-footer button {
  font-family: "Open Sans", sans-serif;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 5px;
  color: #3faaf4;
  border: 1px solid #3faaf4;
  font-weight: 700;
  margin-top: 20px;
}

.pricing-card.active .pricing-card-header {
  background-color: #313131;
  margin: 0;
  padding: 40px 20px 1px 20px;
  border-radius: 10px;
}

.pricing-card.active .pricing-card-header h2 {
  color: #ffffff;
}

.pricing-card.active .pricing-card-footer button {
  background: linear-gradient(to right bottom, #08baf7, #0680ef);
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #3faaf4;
  font-weight: 700;
}

/* ----------- Pricing section end ----------- */

/* ----------- Testimonials end ----------- */

.testimonials {
  padding: 5% 6%;
}

.testimonials-header {
  margin-top: 40px;
  text-align: center;
  padding: 0 20%;
}

.testimonials-header h1 {
  font-size: 36px;
  font-weight: 500;
}

.testimonials-header p {
  font-size: 14px;
  color: #a4a9b8;
  line-height: 1.5;
  margin: 20px 0 40px 0;
}

.testimonials-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testimonials-card {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  margin: 20px 30px;
  padding: 30px;
  border-radius: 5px;
}

.testimonials-card:first-child {
  box-shadow: 5px 5px 5px 3px #d5d5d5;
}

.testimonials-card p {
  color: #2f3c5d;
  font-size: 14px;
  line-height: 1.5;
}

.testimonials-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.testimonials-card-footer p {
  margin-left: 10px;
  font-weight: 700;
}

.testimonials-card-footer span {
  color: #2f3c5d;
  font-weight: normal;
  font-size: 12px;
}

/* ----------- Testimonials end ----------- */

/* ----------- Register section end ----------- */

.register-section {
  background: url("../assets/footer-bg.svg");
  background-position: bottom left;
  height: 240px;
  padding: 3% 6%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.register-section .left-section {
  width: 30%;
}

.register-section .left-section h1 {
  font-size: 36px;
  font-weight: 500;
}

.register-section .left-section p {
  color: #ececec;
  font-weight: normal;
  font-size: 12px;
  margin-top: 30px;
  line-height: 1.5;
}

.register-section .register-btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 100px;
}

/* ----------- Register section end ----------- */

/* ----------- Footer end ----------- */

footer {
  padding: 6% 6% 1% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-text {
  width: 20%;
}

.footer-text img {
  height: 30px;
}

.footer-text p {
  margin-top: 20px;
  font-size: 14px;
  color: #9298a9;
  line-height: 1.5;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links div {
  margin: 0 30px;
}

.footer-links div h1 {
  font-size: 24px;
  font-weight: 500;
}

.footer-links div p {
  font-size: 16px;
  margin: 20px 0;
  color: #a3a6ad;
  cursor: pointer;
}

.social-media {
  width: 15%;
}

.social-media h1 {
  font-size: 24px;
  font-weight: 500;
}

.social-media div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.social-media div p {
  background: linear-gradient(to right bottom, #10c3ff, #0680ef);
  color: #ffffff;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  height: 34px;
  width: 34px;
  border-radius: 17px;
  cursor: pointer;
}

/* ----------- Footer end ----------- */

/* Media Queries */
@media screen and (max-width: 1199px) {
  .pricing-card-footer p {
    margin: 5px 0;
  }
  .pricing-card-footer button {
    margin-top: 10px;
  }
  .pricing-card.active .pricing-card-header {
    padding: 30px 20px 1px 20px;
  }
  nav {
    padding: 2% 3% 0 3%;
  }
  nav .list-item {
    margin-right: 40px;
  }
  .content-text h1 {
    font-size: 34px;
  }
  .service-header h1 {
    font-size: 34px;
  }
  .pricing-section h1 {
    font-size: 34px;
  }
  .pricing-card {
    width: 30%;
  }
  .testimonials-header h1 {
    font-size: 32px;
  }
  .register-section {
    padding: 2% 3%;
  }
  .register-section .left-section {
    width: 45%;
  }
}

@media only screen and (max-width: 991px) {
  nav .logo img {
    height: 24px;
  }
  nav .list-item {
    margin-right: 20px;
  }
  .content-text {
    width: 45%;
  }
  .pricing-section {
    padding: 2% 3%;
  }
  .pricing-body {
    margin-top: 20px;
  }
  .pricing-card {
    width: 32%;
  }
  .pricing-card-header p {
    margin: 15px 0;
  }
  .pricing-card-body {
    margin: 0 20px;
  }
  .pricing-card-body p {
    padding: 10px 0;
  }
  .testimonials {
    padding: 2% 3%;
  }
  .testimonials-card {
    margin: 10px 15px;
    padding: 20px;
  }
  footer {
    padding: 3% 3% 1% 3%;
  }
}

@media only screen and (max-width: 767px) {
  nav .list {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  main {
    padding: 0 2%;
  }
  .content1,
  .content2,
  .content3 {
    margin: 6% 0;
  }
  .service-card {
    padding: 15px;
  }
  .service-header p {
    font-size: 14px;
  }
  .service-card h1 {
    font-size: 20px;
  }
  .pricing-card-header p {
    margin: 10px 0;
  }
  .pricing-card-body {
    margin: 0 10px;
  }
  .pricing-card-body p {
    padding: 6px 0;
  }
  .testimonials-header {
    padding: 0 10%;
    margin-top: 20px;
  }
  .register-section .left-section h1 {
    font-size: 30px;
  }
  .footer-text p,
  .social-media div {
    margin-top: 10px;
  }
  .footer-links div {
    margin: 0 10px;
  }
  .footer-links div p {
    font-size: 14px;
    margin: 10px 0;
  }
  .footer-links div h1,
  .social-media h1 {
    font-size: 22px;
  }
  .social-media div {
    flex-wrap: wrap;
  }
  .social-media div p {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .menu-icon {
    height: 26px;
  }
  .content1,
  .content3 {
    flex-direction: column;
    margin: 3% 0;
  }
  .content2 {
    flex-direction: column-reverse;
  }
  .content-text,
  .content-image {
    width: 100%;
  }
  .service-header {
    flex-direction: column;
  }
  .service-header h1 {
    width: 100%;
    font-size: 30px;
  }
  .service-header p {
    width: 100%;
  }
  .services-body {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .pricing-section {
    height: auto;
  }
  .pricing-section h1 {
    font-size: 30px;
  }
  .pricing-body {
    flex-direction: column;
  }
  .pricing-card {
    width: 80%;
    margin-left: 10%;
    height: 450px;
    margin-bottom: 10px;
  }
  .pricing-card-header {
    margin: 20px 20px 0 20px;
  }
  .pricing-card-footer {
    padding: 15px 0;
    margin-bottom: 10px;
  }
  .testimonials-header {
    padding: 0 2%;
  }
  .testimonials-header h1 {
    font-size: 28px;
  }
  .testimonials-header p {
    margin: 10px 0 20px 0;
  }
  .testimonials-content {
    grid-template-columns: 1fr;
  }
  .register-section {
    flex-direction: column;
  }
  .register-section .left-section {
    width: 100%;
  }
  .register-section .left-section p {
    margin-top: 20px;
  }
  footer {
    flex-direction: column;
  }
  .footer-text,
  .social-media {
    width: 100%;
  }
  .social-media div {
    padding: 0 15%;
  }
}
